/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.navbar-brand {
    font-size: 1.75em;
    padding-top: 0;
}


h1 {
    font-size: 2.75em;
    margin-top: 1em;
    margin-bottom: .75em;
}

h2 {
    font-size: 2em;
    font-weight: 100;
}

.container {
    height: 100%;
}

footer a {
    border-bottom: 1px solid white;
}

    footer a:hover {
        text-decoration: none;
        font-style: italic;
    }

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/* Color theme stuff */
.bg-green-custom {
    background-color: rgb(70,140,70);
}

.footer {
    height: 40px;
    line-height: 40px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link, .btn-primary {
    background: rgb(70,140,70);
    border: none;
    color: white;
}

    .btn-primary:hover {
        background: rgb(90,160,90);
    }

    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
        background: rgb(30,100,30);
        border: none;
    }

        .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
            box-shadow: none;
        }

    .btn-primary:focus, btn-primary.focus {
        box-shadow: none;
    }

.btn-secondary {
    background-color: rgb(140,70,70);
    border: none;
    color: white;
}

    .btn-secondary:hover {
        background: rgb(160,90,90);
    }

    .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
        background: rgb(100,30,30);
        border: none;
    }

        .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(160, 90, 90, 0.5)
        }

.btn-light {
    background-color: rgb(235,235,235);
    border-color: rgb(235,235,235);
}

.btn-link.text-light:hover {
    color: #dae0e5 !important;
}

.btn-success {
    border: none;
}

a {
    color: black;
}

    a:hover, a:focus {
        text-decoration: none;
    }

.login {
    background-color: whitesmoke;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    padding: 1rem;
    border-radius: 0.25rem;
}

#BudgetTable tbody tr.hover {
    cursor: pointer;
}

.data-table th, .data-table td {
    white-space: nowrap;
}

.input-boxshadow {
    box-shadow: -5px 5px 20px #CCC;
    margin-left: .75em;
}

.button-click, .button-click:hover {
    background-color: rgb(56, 110, 56);
}

.rotate {
    transform: rotate(45deg);
    transition-duration: .25s;
}

ul.category-list {
    padding-left: .5em;
}

li.category-list-item {
    display: grid;
    grid-template: auto / 75px 1fr;
    padding: 1em 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

    li.category-list-item:first-child {
        border-top: 1px solid rgba(0, 0, 0, .125);
    }

.category-list-item .list-button {
    grid-column: 1 / 2;
}

.category-list-item .list-detail {
    grid-column: 2 / 3;
}

.list-detail .create-form {
    display: grid;
    grid-template: auto / 1fr 55px;
}

.form-input-box {
    grid-column: 1 / 2;
}

.form-input-button {
    grid-column: 2 / 3;
}

.form-input-box input {
    margin-left: 0;
    height: auto;
    padding: .3em .75em;
}

.form-input-button button {
    margin: 0 1em;
}

.edit-category-form {
    max-width: 350px;
    display: grid;
    grid-template: auto / 1fr 55px;
    margin-bottom: 2em;
}

.page-item.active .page-link {
    background-color: rgb(70,140,70);
    border-color: rgb(70,140,70);
}

.page-link {
    color: unset;
}

    .page-link:hover {
        color: rgb(56, 110, 56);
    }

    .page-link:focus, .dataTables_wrapper .form-control:focus, .custom-select:focus {
        box-shadow: none;
    }

@media (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter {
        text-align: left;
    }

    div.dataTables_wrapper div.dataTables_paginate {
        text-align: right;
    }

    div.dataTables_wrapper div[class*="col"] {
        padding-left: 0;
    }
}