/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.navbar-brand {
    font-size: 1.75em;
    padding-top: 0;
}


h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2em;
    font-weight: 100;
}

.container {
    height: 100%;
}

footer a {
    border-bottom: 1px solid white;
}

    footer a:hover {
        text-decoration: none;
        font-style: italic;
    }

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/* Color theme stuff */
.bg-GreenC {
    background-color: rgb(70,140,70);
}

.bg-boxes {
    background-color: rgb(215,255,215);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link, .btn-primary {
    background: rgb(70,140,70);
    border: none;
    color: white;
}

    .btn-primary:hover {
        background: rgb(90,160,90)
    }

a {
    color: black;
}