@page
@model ThankYouModel
@{
    ViewData["Title"] = "Thank You";
}

<div class="alert alert-warning text-center" role="alert">
    Thank you for registering. Please make sure to check your email to confirm and activate your account.
</div>