@model ExpTrackr.Models.Expense

@{
    ViewData["Title"] = "Add Expense";
}

<h1>@ViewData["Title"]</h1>

<h4>@ViewData["BudgetName"] Budget</h4>
<hr />
<div class="row">
    <div class="col-sm-8 col-md-6 col-lg-4">
        <form asp-action="Create" asp-route-budgetId="@ViewData["BudgetID"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BudgetID" />
            <div class="form-group">
                <label for="CategoryID" class="control-label">Category</label>
                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mr-2" />
                <a asp-action="Index" asp-route-budgetId="@ViewData["BudgetID"]" class="btn btn-light">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
