@model ExpTrackr.Models.Budget

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Budget</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BudgetID" />
            <input type="hidden" asp-for="UserID" value="@ViewData["UserID"]" />
            <div class="form-group">
                <label asp-for="BudgetName" class="control-label"></label>
                <input asp-for="BudgetName" class="form-control" />
                <span asp-validation-for="BudgetName" data-valmsg-replace="true" class="text-danger">@ViewData["DuplicateNameErrorMessage"]</span>
            </div>
            <div class="form-group">
                <label asp-for="BudgetMax" class="control-label"></label>
                <input asp-for="BudgetMax" class="form-control" />
                <span asp-validation-for="BudgetMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" readonly="readonly" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BudgetTotal" class="control-label"></label>
                <input asp-for="BudgetTotal" class="form-control" readonly="readonly" />
                <span asp-validation-for="BudgetTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
