@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center mb-5">
    <h1>ExpTrackr</h1>
    <h2>Track your budget. <br id="HomePageHeader" />The easy way.</h2>
</div>

<div class="home-page-content">
    <figure class="figure">
        <img src="~/img/my-budgets.jpg" class="figure-img img-fluid rounded" />
        <figcaption>Create your budget(s) and set their limit</figcaption>
    </figure>

    <figure class="figure">
        <img src="~/img/my-categories.jpg" class="figure-img img-fluid rounded" />
        <figcaption>Categorize your expenses your way</figcaption>
    </figure>

    <figure class="figure">
        <img src="~/img/expenses.jpg" class="figure-img img-fluid rounded" />
        <figcaption>Manage your expenses for each budget</figcaption>
    </figure>

    <figure class="figure">
        <img src="~/img/budget-over-limit.jpg" class="figure-img img-fluid rounded" />
        <figcaption>Any budget exceeding its limit stands out</figcaption>
    </figure>

    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary my-5 w-100">
        Get started
    </a>
</div>