@{
    ViewData["Title"] = "Home Page";
}


<div class="pt-3 d-block text-center">
    <h1 class="display-5">ExpTrackr</h1>
    <h2>Getting control of your budget</h2>
</div>

<div class="d-flex justify-content-end">
    <div class="col-md-7  d-block rounded  pt-3 pb-3 mt-3">
        <h4>What do we offer</h4>
        <p>A simple application, that is easy to use. You set a maximum for each budget, then you start adding in costs you've built up. This program will keep track of every dollar spent, to make sure you don't go over your limit</p>
    </div>
</div>

<div class="d-flex justify-content-start">
    <div class="col-md-7  d-block rounded pt-3 mt-md-5 text-md-right pb-3">
        <h4>Getting started.</h4>
        <p>To get set up, all you need is to register, for a free account. Login to your new account, create a new budget, and then start adding expenses. Your expenses will be tallied up, against a maximum you set at the start.</p>
    </div>
</div>
