@model ExpTrackr.Models.Category

@{
    ViewData["Title"] = "Delete Category";
}

<h1>@ViewData["Title"]</h1>

<p>Are you sure you want to delete category @Html.DisplayFor(model => model.CategoryName)?</p>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryID" />
        <input type="submit" value="Delete" class="btn btn-danger mr-2" />
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </form>
</div>
