@model ExpTrackr.Models.Category

@{
    ViewData["Title"] = "Delete Category";
}

<h1>@ViewData["Title"]</h1>

<h5 class="font-weight-normal">Are you sure you want to delete category @Html.DisplayFor(model => model.CategoryName)?</h5>
<p class="text-danger"><strong>WARNING:</strong> This will delete <strong>all expenses</strong> associated with this category.</p>
<div>
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger mr-2" />
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </form>
</div>
