@model ExpTrackr.Models.Category

@{
    ViewData["Title"] = "Edit Category";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" class="edit-category-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CategoryID" />
    <input type="hidden" asp-for="UserID" value="@Model.UserID" />
    <div class="form-input-box">
        <input asp-for="CategoryName" class="form-control" />
        <span asp-validation-for="CategoryName" data-valmsg-replace="true" class="text-danger">@ViewData["DuplicateNameErrorMessage"]</span>
    </div>
    <div class="form-input-button">
        <button type="submit" class="btn btn-success">
            <i class="fas fa-check"></i>
        </button>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-light">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
